<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Cadastro de Empresas
    </h1>
    <ol class="breadcrumb">
      <li><a href="/pages/home"><i class="fa fa-dashboard"></i> Home</a></li>
      <li>Cadastros</li>
      <li class="active">Empresas</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border"></div>

          <div class="row">
            <div class="col-md-2">
              <button type="button" class="btn btn-block btn-primary" (click)="novo()">Adicionar</button>
            </div>
          </div>

          <div class="box-body">
            <input *ngIf="config.filtering" placeholder="Filtro geral"
            [ngTableFiltering]="config.filtering"
            class="form-control"
            (tableChanged)="onChangeTable(config)"/>

            <ng-table [config]="config"
            (tableChanged)="onChangeTable(config)"
            (cellClicked)="onCellClick($event)"
            [rows]="rows" [columns]="columns">
          </ng-table>

          <pagination *ngIf="config.paging"
          class="pagination-sm"
          [(ngModel)]="page"
          [totalItems]="length"
          [itemsPerPage]="itemsPerPage"
          [maxSize]="maxSize"
          [boundaryLinks]="true"
          [rotate]="false"
          (pageChanged)="onChangeTable(config, $event)"
          (numPages)="numPages = $event">
        </pagination>

        <pre *ngIf="config.paging" class="card card-block card-header">Página: {{page}} / {{numPages}}</pre>
      </div>
    </div>
  </div>
</div>
</section>
</div>
