<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{tituloPagina}}
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/pages/home"><i class="fa fa-home"></i> Home</a></li>
      <li><a>Tickets</a></li>
      <li class="active">{{breadCrumb}}</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="alert {{alertCss}} alert-dismissible" *ngIf="mensagem">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa {{icon}}"></i> {{titulo}}</h4>
              {{texto}}
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body cinza">
            <h4 class="box-title">Dados do Ticket</h4>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label class="control-label">Produto:</label>
                  <p>{{produto}}</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="control-label">Componente:</label>
                  <p>{{componente}}</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="control-label">Prioridade:</label>
                  <p>{{retornaPrioridade(prioridade)}}</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="control-label">Estado:</label>
                  <p>{{retornaEstado(estado)}}</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="control-label">Dt. Abertura:</label>
                  <p>{{formataData(dt_abertura)}}</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="control-label">Dt. Resolução:</label>
                  <p>{{formataData(dt_resolvido)}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Sumário:</label>
                  <p>{{sumario}}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- /.box-body -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="comentario" class="control-label">Novo comentário:</label>
                  <textarea class="form-control" rows="3" [(ngModel)]="novoComentario" name="novoComentario"></textarea>
                </div>
                <button type="button" class="btn btn-primary direita" (click)="enviar()">Enviar</button>
              </div>
              
              <div class="col-md-12">
                <ul class="timeline">
                  <!-- timeline time label -->
                  <li class="time-label">
                    <span class="bg-blue">
                      Comentários
                  </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <!-- timeline icon -->
                    <i class="fa fa-comments bg-yellow"></i>
                    <div class="timeline-item cinza">
                      <span class="time"><i class="fa fa-clock-o"></i> {{formataData(dt_abertura)}}</span>

                      <h3 class="timeline-header"><a>Comentário 1 -</a> <b>{{capitalizar(usuario)}}</b></h3>

                      <div class="timeline-body">
                        {{descricao}}
                      </div>

                      <div class="timeline-footer">
                        <a (click)="baixarAnexo()">{{anexo_nome}}</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->

                  <li *ngFor="let item of listaComentarios; index as idx;">
                    <!-- timeline icon -->
                    <i class="fa fa-comments bg-yellow"></i>
                    <div class="timeline-item cinza">
                      <span class="time"><i class="fa fa-clock-o"></i> {{formataData(item.dt_envio)}}</span>

                      <h3 class="timeline-header"><a [style]="doLogado(item.nome)">Comentário {{idx+2}} -</a> <b>{{capitalizar(item.nome)}}</b></h3>

                      <div class="timeline-body">
                        {{item.descricao}}
                      </div>

                      <div class="timeline-footer">
                        <!--<a class="btn btn-primary btn-xs">Editar</a>-->
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                </ul>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
  </section>
</div>